*.exr
*.png
./.ccache
./input
./bluelines
./darktable_exported
./node_modules
./test
./angletest
./cmake
./.git
./.idea
./greenlines
./temp
./libs
./test-blog-post
./output_2
./websrc
./output
./input2
./.emscripten_cache
./linetest2
./cmake-build-debug
./build
