*.exr
*.h264
*.png
.cache
.ccache
.clangd
.emscripten_cache
.idea
.vscode
CMakeFiles
boost_1_61_0
build
cmake-build-debug
codebrowser/**
compile_commands.json
docs/_build/**
docs/build_instructions/**
gmock
gmock-1.7.0
gtest
gtest-1.7.0
lsp
sc.log
test/integration/*
web/node_modules
web/webroot/*.main.js*
web/webroot/*.ttf
web/webroot/*.worker.js*
web/webroot/client.js
web/webroot/client.wasm
web/webroot/main.css
web/webroot/main.js*
web/webroot/stream/*
