*.exr
*.h264
*.png
.ccache
.clangd
.emscripten_cache
.idea
CMakeFiles
boost_1_61_0
build
cmake-build-debug
codebrowser/**
compile_commands.json
docs/_build/**
docs/build_instructions/**
gmock
gmock-1.7.0
gtest
gtest-1.7.0
lsp
node_modules
sc.log
test/integration/*
webroot/*.main.js*
webroot/*.ttf
webroot/*.worker.js*
webroot/client.js
webroot/client.wasm
webroot/main.css
webroot/main.js*
webroot/stream/*