[submodule "libs/cereal"]
	path = libs/cereal
	url = https://github.com/USCiLab/cereal
[submodule "libs/framer"]
	path = libs/framer
	url = https://github.com/rayburgemeestre/framer
[submodule "libs/piper"]
	path = libs/piper
	url = https://github.com/rayburgemeestre/piper
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/perlin_noise"]
	path = libs/perlin_noise
	url = https://github.com/rayburgemeestre/perlin_noise
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
