[submodule "libs/caf"]
	path = libs/caf
	url = git@github.com:actor-framework/actor-framework.git
[submodule "libs/benchmarklib"]
	path = libs/benchmarklib
	url = git@bitbucket.org:rayburgemeestre/benchmarklib.git
[submodule "libs/allegro5"]
	path = libs/allegro5
	url = git@github.com:liballeg/allegro5.git
