<style type="text/css">
.gradient { height: 300px; width: 300px; margin: 5px; }
.gradient div { border-radius: 50%; height: 300px; float: left; }
#gradients, #gradients2, #gradients3 { float: left; }
</style>

<div id="gradients">
<div class="gradient"></div>
<div class="gradient"></div>
<div class="gradient"></div>
<div class="gradient"></div>
</div>
<div id="gradients2">
</div>
<div id="gradients3">
</div>
<div id="gradients4">
</div>

<script type="text/javascript">
var phi = 1.61803398875;
var Phi = 1 / phi;

function gradientify(el, chance, availWidth, dimmer) 
{
    var counter = 0;
    if (Math.random() > 1/chance) {

        var width = availWidth / (Math.random() >= 0.5 ? phi : Phi);

        el.style.width = width + '%';

        var el2 = document.createElement('div');
        el2.style.width = (availWidth - width) + '%';

        el.parentNode.insertBefore(el2, el.nextSibling);

        counter += gradientify(el, chance * dimmer, width / 2, dimmer);
        counter += gradientify(el2, chance * dimmer, availWidth - width / 2, dimmer);

        counter++;
    }
    else {
        el.style.width = availWidth + '%';
        var r = Math.round(Math.random() * 256);
        var g = Math.round(Math.random() * 256);
        var b = Math.round(Math.random() * 256);
        el.style.backgroundColor = 'rgb('+r+', '+g+', '+b+')';
        el.setAttribute('data-r', r);
        el.setAttribute('data-g', g);
        el.setAttribute('data-b', b);
    }

    return counter;
}


var dimmer = 0.85;
var initialnosplitchance = 3; // 1/3rd
var minimumsplits = 2;

var child = document.getElementById('gradients').firstChild;
while (child) {
    if (child.nodeName.toLowerCase() == 'div') {

        child.appendChild(document.createElement('div'));

        while (gradientify(child.firstChild, initialnosplitchance, 100, dimmer) < minimumsplits) {
            while (child.firstChild)
                child.removeChild(child.firstChild);

            child.appendChild(document.createElement('div'));
        }

        var q = child.firstChild;
        var gradientstr = '';
        var gradientstrjs = '';
        var cumwidth = 0;
        while (q) {
            if (q.nodeName.toLowerCase() == 'div') {
                if (gradientstr != '')
                    gradientstr += ', ';
                cumwidth += (q.style.width.replace(/%/, '') * 1);
                gradientstr += q.style.backgroundColor + ' ' + (cumwidth * Phi) + '%';
// grad.add(0.0, new color(102 / 256.0, 255 / 256.0, 161 / 256.0, 0));
                var r = q.getAttribute('data-r') / 256.0;
                var g = q.getAttribute('data-g') / 256.0;
                var b = q.getAttribute('data-b') / 256.0;
                if (gradientstrjs == '') {
                    gradientstrjs += "grad.add(0.0, new color( " + r + ", " + g + ", "+ b +", 0) );\n";
                }
                gradientstrjs += "grad.add(" + (cumwidth / 100.0) + ", new color( " + r + ", " + g + ", "+ b +", 0) );\n";
            }
            q = q.nextSibling;
        }
        gradientstrjs += "grad.add(1.0, new color( 0, 0, 0, 0) );\n";

        var q = document.createElement('div');
        q.className = 'gradient';
        var p = document.createElement('div');
        q.appendChild(p)
        p.style.background = 'linear-gradient(90deg, '+gradientstr+') repeat scroll 0 0 transparent';
        p.style.width = '100%';
        document.getElementById('gradients2').appendChild(q);

        var q = document.createElement('div');
        q.className = 'gradient';
        var p = document.createElement('div');
        q.appendChild(p)
        p.style.background = 'radial-gradient(ellipse at center, '+gradientstr+') repeat scroll 0 0 transparent';
        p.style.width = '100%';
        document.getElementById('gradients3').appendChild(q);

        var q = document.createElement('div');
        q.className = 'gradient';
        var p = document.createElement('pre');
        q.appendChild(p)
        p.innerHTML = gradientstrjs;
        document.getElementById('gradients4').appendChild(q);

    }
    
    child = child.nextSibling;
}

</script>

